  <%- include('partials/header'); -%>
<header>
  
  <% if(user){ %>
  <div class="smoothie">
    <img src="/images/leaf.png" alt="">
  </div>
  <div class="headings">
    <h2>Great,<%= user.displayName %></h2>
    <h3>you got some ninja moves..</h3>
  </div>
  <% }else{ %>
    <div class="smoothie">
      <img src="/images/leaf.png" alt="">
    </div>
    <div class="headings">
      <h2>आमच्याशी जोडल्याबद्दल धन्यवाद. <%= user %> </h2>
      <h3>ही सेवा सध्या अनुपलब्ध आहे, परंतु आम्ही तुम्हाला खात्री देतो की ही सेवा वेबसाइटवर लवकरच उपलब्ध होईल. वेबसाइटवर उपलब्ध होताच आम्ही तुम्हाला सूचित करू.</h3>
    </div>
    <% } %>  
</header>
  <%- include('partials/footer'); -%>